{% load static %}
{% load user_tags %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %} LIGA UNIWERSYTECKA {% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@500&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f2918ceb1f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    <header>
        <div class="header-wrapper">
            <div class="header-wrapper-left">
                <a href="{% url 'mainapp:home' %}">HOME</a>
                <a href="{% url 'mainapp:about' %}">ABOUT</a>
                <a href="{% url 'mainapp:table' %}">TABLE</a>
                <a href="{% url 'mainapp:matches' %}">MATCHES</a>

                {% if user|has_group:"Trener" %}
                <a href="{% url 'mainapp:team' %}">TEAM</a>
                {% endif %}


            </div>
            <div class="header-wrapper-right">
                {% if user.is_authenticated %}
                <h7> Witaj {{user.username}}</h7>
                <a href="{% url 'logout'%}">Wyloguj</a>
                {% else %}
                    <a href ="{% url 'mainapp:register' %}">Zarejestruj sie<i class="fas fa-user-plus" style="margin-left:5px"></i></a>
                    <a href ="{% url 'login'%}">Zaloguj <i class="fas fa-sign-in-alt" style="margin-left:5px"></i></a>
                {% endif %}
            </div>
        </div>
        <div class="header-wrapper-bottom">
            <div class="header-wrapper-bottom-left">

            </div>
            <div class="header-wrapper-bottom-right">
                <a href="{% url 'mainapp:home' %}" style="color: rgb(29, 34, 40);text-decoration: none"></i>HOME</a>
                <a></a>
                {% block headerbottomright %}
                <a>ABOUT</a>
                {% endblock %}
            </div>
        </div>
    </header>
    <div class="content">
        <div class="content-wrapper">
            <div class="content-left">
            </div>
            <div class="content-right">
            {% block content-right %}
            <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer tincidunt nunc varius
                dolor efficitur, elementum varius sem interdum. Nunc est sapien, commodo sit amet laoreet nec,
                condimentum id ante. Sed vehicula auctor ipsum id sollicitudin. Donec ac ligula sollicitudin,
                fringilla libero eu, sodales est. Suspendisse quis sapien id orci tincidunt tempor. Donec et
                mauris porta, auctor quam ac, eleifend elit. Donec eu mi ac lectus auctor viverra.
                Donec consequat dui in turpis maximus, a hendrerit neque pulvinar. Nullam dictum sollicitudin
                tortor ut tincidunt. Etiam gravida urna id arcu suscipit, eu finibus ante mattis.
                Etiam blandit quam nisi, ac bibendum leo porta eget. Duis nec ex ut nibh tristique varius.
                Duis egestas nisi eget justo pulvinar viverra. <br>

                Proin ex lorem, varius eu dapibus nec, fringilla non ligula. Proin et pharetra magna.
                Nullam in pharetra metus. Sed elementum, orci vitae cursus accumsan, dui nisi tristique orci,
                vitae mollis justo quam et libero. Pellentesque habitant morbi tristique senectus et netus et
                malesuada fames ac turpis egestas. Sed consequat pellentesque velit, nec facilisis lorem ornare
                ut. Nullam sollicitudin dui elementum magna aliquam vestibulum. Cras dapibus nisl ac tincidunt
                tempus. Morbi aliquet, mi semper interdum lobortis, leo sem auctor odio, sed fermentum tellus felis
                vel justo. Nullam luctus nulla in sapien consectetur laoreet. Nulla quis laoreet turpis.
                Etiam mattis mi velit, eget rhoncus quam ornare lobortis. Fusce commodo vehicula sodales.<br>

                Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                Integer sed pretium ipsum, eget sollicitudin ex. Quisque lectus odio, sodales vitae tellus
                nec, dignissim porta urna. Nunc imperdiet varius maximus. Mauris in faucibus ipsum.
                Proin finibus viverra diam, vitae maximus sapien faucibus et. Donec fringilla, dui ut
                porta imperdiet, eros elit elementum arcu, ut ullamcorper arcu odio ut leo. Duis ut aliquet
                ante. Nulla ullamcorper ac risus non molestie.</a>
             {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>